<div class="nde-show-banner">
<h1> <%= @nde.name %> </h1>
<%= cl_image_tag @nde.photo %>
</div>

<h2> Experience <%= @nde.name %> </h2>
<img src= "http://images.gawker.com/wenr8ysmpnwc2ecep4gi/c_scale,fl_progressive,q_80,w_800.jpg" width: 600px
<h2> Reviews Below </h2>

<div class="price-card">
  <%= @nde.price %>
  <%= @nde.location %>
  <%= @nde.city %>
</div>
