<div class="nde-banner" style="background-image: linear-gradient(-225deg, rgba(0,108,200,12.6) 0%, rgba(8,36,61,0.6) 41%), url(https://ohmy.disney.com/wp-content/uploads/2013/10/Belle-from-Beauty-and-the-Beast-Scary-Disney-Movie-Moment.jpg)">

  <div class="nde-banner-content">
    <h1> <%= @nde.name %> </h1>
  </div>
</div>

<h2> Experience: <%= @nde.name %> </h2>
<p> <%= @nde.description %>

<h2> Reviews Below </h2>


<div class="price-card">
  <%= @nde.price %>
  <%= @nde.location %>
  <%= @nde.city %>
</div>





