<div class="nde-banner" style="background-image: url(https://ohmy.disney.com/wp-content/uploads/2013/10/Belle-from-Beauty-and-the-Beast-Scary-Disney-Movie-Moment.jpg)">
  <div class="nde-banner-content">
    <h1> <%= @nde.name %> </h1>
  </div>
</div>

<div class="card-body">
  <div>
    <h2> Experience: <%= @nde.name %> </h2>
    <p> <%= @nde.description %> </p>
  </div>
  <div class="card-price">
    <h4 style= "text-align: center"> Details </h4>
    <ul>
      <li> <%= @nde.price %> euros</li>
      <li> <%= @nde.location %> </li>
      <li> <%= @nde.city %> </li>
    </ul>
  </div>
  <div class="card-review">
    <h2> Reviews Below </h2>
    <p> This is a hard-coded review for now. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque vitae, cum molestiae blanditiis soluta reiciendis sunt corrupti accusantium repudiandae quibusdam.</p>
  </div>
</div>




