<div class="nde-banner" style="background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 12%,rgba(0,0,0,0.3) 36%,rgba(0,0,0,0.1) 58%,rgba(0,0,0,0) 100%), url('<%= cl_image_path @nde.photo %>'); background-position: center;">
  <div class="nde-banner-content">
    <h1> <%= @nde.name %> </h1>
  </div>
</div>

<div class="nde-body">
  <div class="wrapper-gray">
  <div class="container">
    <div class="row">
        <h2 class="title-show">Details of this experience</h2>
      <div class="col-xs-12 col-md-8">
        <div class="booking-description card-booking">
          <h3><%= @nde.name %></h3>
          <div class="nde-description-info">
            <ul class="list-inline">
            <li>
              <p><%= @nde.price %> <i class="fas fa-euro-sign"></i></p>
            </li>
            <li>
              <p><%= @nde.participant_number %> <i class="fas fa-user"></i></p>
            </li>
            <li>
              <p><%= @nde.drama %> <i class="fas fa-skull"></i></p>
            </li>
          </ul>
          <p><i class="fas fa-map-marker-alt"></i> <%= @nde.city %></p>
          </div>
          <p><%= @nde.description %></p>
        </div>

        <div class="booking-details card-booking">
          <h3>Things to keep in mind</h3>
          <p>Please mentally prepare yourself for your brush with mortality. We are not held responsible for actual death, as each unique experience comes complete with escape options. </p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="card-booking">
          <h3>Book now !</h3>
          <%= simple_form_for [@nde, @booking] do |f| %>
          <%= f.input :date, as: :string, input_html: { class: "datepicker form-border" }, label: "When shall this expierence take place?"%>
          <%= f.input :guests, collection: 1..@nde.participant_number, label: "Number of participants to this adventure", error: "You need to specify how many people will come", input_html: { class: "form-border" } %>
          <%= f.input :comment, label: "Leave a comment to your experience provider", input_html: { class: "form-border", rows: 5 } %>
          <%= f.input :waiver_check, label: "I waive all rights to my life", error: "It needs to be ticked" %>
          <div class="booking-button">
            <%= f.button :button, class: "btn btn-danger" do %> Time to go! <i class="fas fa-skull"></i>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="wrapper-gray">
    <div class="container">
      <div class="row">
        <h2 class="title-show">Reviews of this experience</h2>
          <% if @nde.reviews.present? %>
            <% @nde.reviews.each do |review| %>
              <div class="card-review">
                 <h4> <%= review.title %> </h4> <br>
                  <p>
                   <%= review.body %> --
                  <em>
                    <% if review.user.name.present? %>
                      <%= review.user.name %>
                    <% else %>
                      <%= review.user.email %>
                    <% end %>
                  </em>
                  </p>
                <div class="card-review-rating">
                  <% review.rating.times do %>
                    <i class="fas fa-skull skull-red"></i>
                  <% end %>
                </div>
                </div>
              <% end %>
            <% else %>
              <p> No review for this experience yet </p>
            <% end %>

      </div>
    </div>
  </div>
</div>




