<div class="booking-body">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 booking-text">
        <h1 class="title-booking">Details of your experience</h1>
        <div class="booking-description card-booking">
          <h3><%= @nde.name %></h3>
          <p><%= @nde.description %></p>
        </div>

        <div class="booking-details card-booking">
          <h3>Things to keep in mind</h3>
          <p>Please mentally prepare yourself for your brush with mortality. We are not held responsible for actual death, as each unique experience comes complete with escape options. </p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 form-booking">
        <%= simple_form_for [@nde, @booking] do |f| %>
        <%= f.input :date, as: :string, input_html: { class: "datepicker form-border" }, label: "When shall this expierence take place?"%>
        <%= f.input :guests, collection: 1..@nde.participant_number, label: "Number of participants to this adventure", error: "You need to specify how many people will come", input_html: { class: "form-border" } %>
        <%= f.input :comment, label: "Leave a comment to your experience provider", input_html: { class: "form-border", rows: 5 } %>
        <%= f.input :waiver_check, label: "I waive all rights to my life", error: "It needs to be ticked" %>
        <%= f.button :submit, "Book now!", class: "btn btn-danger text-center" %>
        <% end %>
    </div>
    </div>
  </div>
</div>
