<%= @user.name %>
<%= @user.email %>

<div class="card-body">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2> Welcome to your page,</h2>
      <% if @user.name.present? %>
        <h2> <%= @user.name %> </h2>
      <% else %>
        <h2> <%= @user.email %> </h2>
      <% end %>
      <%= link_to "Edit your page", edit_user_path %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2> Here's how you appear to others:</h2>
      <% if @user.photo.present? %>
        <%=cl_image_tag @user.photo %>
      <% else %>
        <%= cl_image_tag "https://res.cloudinary.com/dm8awkcp1/image/upload/v1534326229/avatar.png" %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h2> Your booked experiences </h2>
      </div>
    </div>
    </div>
  </div>
</div>



